<div class="projects-line-holder" >
    <div class="projects-line">
        <slick dots=true infinite=false speed=300 touch-move=true init-onload=true >
            <a data-ng-repeat="project in set"
               ng-href="{{project.url}}"
               class="project-item">
                <div class="project-icon"><img data-ng-src="{{project.icon}}" /></div>
                <div class="project-name" data-ng-bind="project.name"></div>
            </a>
        </slick>
        <div class="wire"></div>
    </div>
</div>
