<section data-ng-controller="HomeController">
	<div class="home-bg"></div>

    <div class="menu">
        <nav>
            <ul >
                <li class="col-md-2"><a href="#">Projects</a></li>
                <li class="col-md-2"><a href="#">Concept</a></li>
                <li class="col-md-2"><a href="#"></a></li>
                <li class="col-md-2"><a href="#">About us</a></li>
                <li class="col-md-2"><a href="#">People</a></li>
                <li class="col-md-2"><a href="#">News</a></li>
            </ul>
        </nav>
    </div>

</section>