.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


@font-face {
    font-family: Gothic;
    src: url(../fonts/CenturyGothicRegular.ttf) format('truetype');
}

.uppercase {
    text-transform: uppercase;
}

body, html {
    min-height: 480px;
    height: 100%;
    font-family: Gothic;
    overflow: hidden;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100%;
}
.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 0;
    width: 120px;
}
.logo img {
     width: 100%;
}
.hFooter {
    height: 8em;
}
.footer {
    border-top: 2px solid #333;
    position: relative;
    margin-top: -8em;
    height: 8em;
    width: 100%;
    z-index: 3;
}
.contact-us {
    padding: 1em 2em;
}
.contact-us > p {
    font-size: 16px;
}

.contact-info p {
    margin: 0 0 4px 0;
    margin-right: 1em;
}

/**************************************************************************************
 HOME PAGE
 *************************************************************************************/
.home-bg {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/home-bg.jpg') no-repeat 100% 0;
    opacity: 0.5;
    background-size: contain;
    z-index: -2;
}
.wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-img-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-line {
    position: relative;
    width: 200%;
    margin-left: -50%;
    height: 800px;
    border-top: 2px solid #333;
    border-radius: 0;
    background: #fff;

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.radius .bottom-line {
    border-radius: 50%;
    background: #fff;
}

.line-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.radius .line-wrapper {
    top: -70px;
    height: 70px;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;


    -webkit-transition:  0.5s ease-out;
    -moz-transition:  0.5s ease-out ;
    -o-transition:  0.5s ease-out ;
    transition:  0.5s ease-out ;
}

.menu ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu li {
    display: inline-block;
    width: 18%;
}
.menu li a {
    display: block;
    text-align: center;
    line-height: 3em;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;

    -webkit-transition:  0.5s ease-out;
    -moz-transition:  0.5s ease-out ;
    -o-transition:  0.5s ease-out ;
    transition:  0.5 s ease-out ;
}

.home .menu {
    position: absolute;
    right: 0;
    top: -8em;
    width: 100%;
}
.home .menu li {
    width: 16.6%;
}
.home .menu li.left-margin {
    margin-left: 16.6%;

    -webkit-transition:  0.5s ease-out;
    -moz-transition:  0.5s ease-out ;
    -o-transition:  0.5s ease-out ;
    transition:  0.5 s ease-out ;
}
.home .menu li a {
    font-size: 20px;
}

.language {
    position: absolute;
    top: 2em;
    right: 2%;
}

.language a {
    color: #666;
}

/**************************************************************************************
 CIRCLE
 *************************************************************************************/
.circle-wrapper {
         position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:8em;
}
.circle {
    display:none;
    position: absolute;
    border: 2px solid #f3c58d;
    border-radius: 50%;
    z-index: 1;

    -webkit-transition:  1s ease-out;
    -moz-transition:  1s ease-out ;
    -o-transition:  1s ease-out ;
    transition:  1s ease-out ;
}
.home .circle {
    display: block;
    right: 58%;
    bottom: 5em;
    height: 10em;
    width: 10em;
    margin-right: -5em;
    margin-bottom: -5em;

}


/**************************************************************************************
 NG-ANIMATE
 *************************************************************************************/



[ui-view] {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.animate-page {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    -webkit-transition:all 1s ease-in-out 1s;
    -moz-transition:all 1s ease-in-out 1s;
    -o-transition:all 1s ease-in-out 1s;
    transition:all 1s ease-in-out 1s;
}

[ui-view].ng-enter-active .home-page, [ui-view].ng-leave-active .home-page {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
[ui-view].ng-enter .home-page {
    left: 100%;
}

[ui-view].ng-enter-active .home-page {
    left: 0;
}

[ui-view].ng-leave .home-page {
    left: 0;
}

[ui-view].ng-leave-active .home-page {
    left: 100%;
}

/**************************************************************************************
 NG-ANIMATE = Home --> Projects, Concepts
 *************************************************************************************/

/*
.projects [ui-view].ng-leave .home-page,
.concept [ui-view].ng-leave .home-page {
    top: 0;
    left: 0;
}

.projects [ui-view].ng-leave-active .home-page,
.concept [ui-view].ng-leave-active .home-page {
    top: 0;
    left: 100%;
}
        */
