.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


@font-face {
    font-family: Gothic;
    src: url(../fonts/CenturyGothicRegular.TTF);
}

body, html {
    min-height: 480px;
    height: 100%;
    font-family: Gothic;
}
.logo {
    position: absolute;
    top: 5%;
    left: 2%;
}
.circle {
    position: absolute;

}
.footer {
    border-top: 2px solid #333;
    position: absolute;
    bottom: 0;
    height: 8em;
    width: 100%;
}
.contact-us {
    margin: 1em;
}
.contact-info p {
    float: left;
    margin-right: 1em;
}

/**************************************************************************************
 HOME PAGE
 *************************************************************************************/
.home-bg {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/home-bg.jpg') no-repeat 100% 0;
    opacity: 0.5;
    background-size: contain;
}
.wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-img-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    position: absolute;
    bottom: 8em;
    width: 100%;
}