/**************************************************************************************
 ABOUT US PAGE
 *************************************************************************************/
.about-us-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8em;
}

.about-us-text {
    position: absolute;
    width: 42%;
    padding-left: 120px;
    top: 20%;
    left: 2%;
    font-size: 0.8em;
}

.about-us .flag {
    width: 20%;
    height: 45.73%;
    position: absolute;
    top: 0;
    left: -50px;
    background: url('../img/flag.png') no-repeat;
    background-size: contain;
}

.about-us .circle {
    display: block;
    right: 0;
    bottom: -10vw;
    width: 45vw;
    height: 45vw;
}

/**************************************************************************************
 NG-ANIMATE
 *************************************************************************************/

[ui-view].ng-enter .about-us-page,
[ui-view].ng-leave-active .about-us-page {
    opacity: 0;
    top: -100%;
}

[ui-view].ng-enter-active .about-us-page,
[ui-view].ng-leave .about-us-page {
    opacity: 1;
    top: 0;
}
