body {

}

.admin-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8em;
    overflow-y: scroll;
    background: #fff;
    z-index: 1;
    padding-bottom: 20px;
}

.admin-page .page-wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
}

.admin-page h1 {
    font-size: 24px;
    margin-left: 65px;

}
.admin-page .username {
    position: absolute;
    top: 12px;
    right: 15px;
}
.admin-page .admin-menu {
    float: left;
    width: 200px;
    margin-top: 10px;
    margin-right: -200px;
}

.admin-page .list {
    padding: 10px;
    float: left;
    width: 100%;
    padding-left: 240px;
    padding-right: 450px;
}
.admin-page .admin-list-item {
    min-height: 100px;
    position: relative;
}
.admin-page .item-icon {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px 10px 0 0;
    border: 1px solid #333;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
}
.admin-page .item-details {
    margin-left: 80px;
}
.admin-page .list-order {
    float: right;
}
.admin-page .item-icon img{
    width: 100%;
}

.admin-page.admin-people .admin-list-item {
    min-height: 82px;
}
.admin-page.admin-people .item-icon {
    margin-top: 0;
}
.admin-page.admin-people .item-details {
    margin-top: 10px;
}


.create-new-btn {
    position: absolute;
    top: -32px;
    width: 140px;
}

.admin-page .form {
    position: relative;
    padding: 0 30px;
    float: left;
    width: 400px;
    margin-left: -430px;
}

.admin-page .form h3{
    min-height: 30px;
}
.admin-page .form .buttons input {
    width: 100px;
}
.form .input-group {
    margin-bottom: 10px;
}

.form .textarea-group {
    margin-bottom: 10px;
}
.form .textarea {
    max-width: 340px;
}

.form .input-group-addon {
    min-width: 100px;
}
