body {

}

.admin-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8em;
    overflow-y: scroll;
    background: #fff;
}

.admin-page .page-wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
}

.admin-page h1 {
    padding: 15px 0;
    margin-left: 65px;

}
.admin-page .username {
    position: absolute;
    top: 12px;
    right: 100px;
}
.admin-page .admin-menu {
    float: left;
    width: 200px;
    margin-right: -200px;
}

.admin-page .list {
    padding: 10px;
    float: left;
    width: 100%;
    padding-left: 240px;
    padding-right: 450px;
}

.create-new-btn {
    position: absolute;
    top: -32px;
    width: 140px;
}

.admin-page .form {
    position: relative;
    padding: 0 30px;
    float: left;
    width: 400px;
    margin-left: -430px;
}

.admin-page .form h3{
    min-height: 30px;
}
.admin-page .form .buttons input {
    width: 100px;
}
.form .input-group {
    margin-bottom: 10px;
}

.form .textarea-group {
    margin-bottom: 10px;
}
.form .textarea {
    max-width: 340px;
}

.form .input-group-addon {
    min-width: 100px;
}
