<section data-ng-controller="AboutUsController" class="about-us-page">
  <div class="text">
      <p>Наша компания предоставляет комплексные услуги по созданию торговых пространств.
          Мы имеем многолетний опыт в работе с такими компаниями, как Symbol, Culf FG, Solex LTD.
          Мы успешно реализовали объекты в Киеве, Харькове, Днепропетровске, Одессе, Крыму.
          Наша команда состоит из четырех секторов профессионалов, которые охватывают процесс создания от идеи до открытия реализованного объекта.</p>
      <ol>
          <li>Архитекторы, дизайнеры, маркетологи.</li>
          <li>Штат проектировщиков и монтажников всех инженерных систем (кондиционирование, освещение, отопление, слаботочные сети...).</li>
          <li>Штат по разработке и реализации торгового оборудования любого уровня.</li>
          <li>Комплексные, мобильные стоительные бригады всех профилей.</li>
      </ol>
      <p>За счет слаженной работы наших специалистов, качество продукта контролируется на всех этапах его создания.
          Благодаря комплексному подходу, мы гарантируем качество наших работ, их выполнение в утвержденные сроки и не выходя за согласованную сметную стоимость.</p>
  </div>
</section>