/**************************************************************************************
 PROJECT PAGE
 *************************************************************************************/

.projects-page .wrapper {
    position: absolute;
    display: table;
    width: 100%;
    left:0;
    top: 50%;
    margin-top: -10%;
}

.projects-page .projects-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -2;
    background: url('../img/projects-bg.jpg')  no-repeat;
}

.projects-page .projects-bg-top-img {
    display: none;
    position: absolute;
    bottom: -28%;
    right: -23%;
    width: 72%;
    height: 167%;
    opacity: 1;
    background: url('../img/projects-img.png') no-repeat;
    background-size: 100%;

    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
    transform: rotate(150deg);

    -webkit-transition:all 4s ease-in-out;
    -moz-transition:all 4s ease-in-out;
    -o-transition:all 4s ease-in-out;
    transition:all 4s ease-in-out;
}

.projects-page .projects-bg-bottom-img {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    width: 50%;
    height: 50%;
    opacity: 1;
    background: url('../img/projects-img.png') no-repeat;
    background-size: 100%;

    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

    -webkit-transition:all 4s ease-in-out;
    -moz-transition:all 4s ease-in-out;
    -o-transition:all 4s ease-in-out;
    transition:all 4s ease-in-out;
}

.projects-page .projects-bg-top-img.animate {
    -ms-transform: rotate(160deg); /* IE 9 */
    -webkit-transform: rotate(160deg); /* Chrome, Safari, Opera */
    transform: rotate(160deg);
}

.projects-page .projects-bg-sonne {
    display: none;
    position: absolute;
    width: 250px;
    height: 228px;
    top: 10%;
    left: 30%;
    background: url('../img/projects-sonne.png') 100% 100% no-repeat ;
    opacity: 0;
    background-size: cover;
}

.projects-page .line{
    display: table-row;
    height: 150px;
}

.projects-page .projects-type {
    padding: 0 30px 2% 0;
    vertical-align: top;
    line-height: 60px;
    font-size: 1.2em;
    width: 300px;
    text-align: right;
}

.projects-page .projects-line {
    height: 88px;
}

.projects-page .projects-line-holder {
    position: relative;
    border-left: 1px dashed #333;
    overflow: hidden;
}

.projects-page .table-cell {
    display: table-cell;
    padding-bottom: 4%;
}

.projects-page .wire {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    border-top: 1px solid #666666;
    z-index: -1;
}

.projects-page .project-item {
    margin-left: 10px;
    display: inline-block;
    min-height: 66px;
    min-width: 66px;
    text-align: center;
}

.project-item ~ .project-item {
    margin-left: 5em;
}

.projects-page .project-icon {
    width: 60px;
    height: 60px;
    margin: 3px auto;
    border: 1px solid #333;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;


}
.projects-page .project-name {
    color: #444;
}


.projects-page .project-icon:hover {
    width: 66px;
    height: 66px;
    margin: 0 auto;
}

.projects-page .project-icon img{
    width: 100%;
    height: 100%;
}


/**************************************************************************************
CARUSEL
*************************************************************************************/
.project-gallery-page {
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
}
.project-gallery-page .image-gallery {
    width: 100%;
    height: 100%;
}

.project-gallery-page .image-gallery .layer{
    text-align: center;
    height: 100%;
}

.project-gallery-page .btn-left{
    position: absolute;
    width: 5%;
    top: 0;
    left: 0;
    height: 100%;
    margin-right: 1%;
    z-index: 1;
}

.project-gallery-page .btn-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    margin-left: 1%;
    z-index: 1;
}

.project-gallery-page .image-gallery img {
    width: 90%;

}

.project-gallery-page .close-gallery {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    opacity: 0.6;
    z-index: 1;
    cursor: pointer;
}

.project-gallery-page .close-gallery:hover {
    opacity: 0.9;
}

.project-gallery-page .rn-carousel-control {
    font-size: 6rem;
    opacity: 0.5;
    color: #fff;
}
.project-gallery-page .rn-carousel-control-prev {
    left: .2em;
}
.project-gallery-page .rn-carousel-control-next {
    right: .2em;
}

/**************************************************************************************
 CIRCLE
 *************************************************************************************/
.projects .circle,
.concepts .circle {
    display: block;
    bottom: 24em;
    right: 23%;
    height: 10em;
    width: 10em;
    z-index: 0;
}


/**************************************************************************************
 NG-ANIMATE
 *************************************************************************************/
/*

.projects [ui-view].ng-enter,
.from-projects [ui-view].ng-leave {
    -webkit-transition:all 4s ease-in-out;
    -moz-transition:all 4s ease-in-out;
    -o-transition:all 4s ease-in-out;
    transition:all 4s ease-in-out;
}
.projects [ui-view].ng-leave {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.from-projects [ui-view].ng-enter {
    -webkit-transition:all 1s ease-in-out 3s;
    -moz-transition:all 1s ease-in-out 3s;
    -o-transition:all 1s ease-in-out 3s;
    transition:all 1s ease-in-out 3s;
}

.projects [ui-view].ng-enter-active .projects-page .projects-line {
    -webkit-transition:all 1s ease-in-out 3s;
    -moz-transition:all 1s ease-in-out 3s;
    -o-transition:all 1s ease-in-out 3s;
    transition:all 1s ease-in-out 3s;
}

[ui-view].ng-leave-active .projects-page .projects-line{
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.projects [ui-view].ng-enter .projects-page .projects-line,
.from-projects [ui-view].ng-leave.ng-leave-active .projects-page .projects-line{
    margin-left: -100%;
}

.projects [ui-view].ng-enter-active .projects-page .projects-line,
.from-projects [ui-view].ng-leave .projects-page .projects-line {
    margin-left: 0;
}
*/
