/**************************************************************************************
 PROJECT PAGE
 *************************************************************************************/

.projects-page .wrapper {
    position: absolute;
    display: table;
    width: 100%;
    left:0;
    top: 50%;
    margin-top: -10%;
}

.projects-bg {
    position: absolute;
    width: 1000px;
    height: 100%;
    right: 0;
    background: url('../img/projects-bg.jpg') no-repeat  ;
    opacity: 1;
    background-size: cover;
    z-index: -2;
}

.projects-page .line{
    display: table-row;
}

.projects-type {
    padding: 0 30px
    2% 0;
    vertical-align: top;
    line-height: 60px;
    font-size: 1.2em;
    width: 300px;
    text-align: right;
}

.projects-line {
    position: relative;
    border-left: 1px dashed #333;
    overflow: hidden;
}

.table-cell {
    display: table-cell;
    padding-bottom: 4%;
}

.wire {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border-top: 1px solid #666666;
    z-index: -1;
}

.project-item {
    margin-left: -5px;
    display: inline-block;
    height: 66px;
    margin-top: 3px;
}

.project-item ~ .project-item {
    margin-left: 6%;
}

.project-icon {
    width: 60px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 50%;
    overflow: hidden;
    background: #aaa;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.project-icon:hover {
    width: 66px;
    height: 66px;
    margin: -3px;

}

.project-icon img{
    width: 100%;
    height: 100%;
}


/**************************************************************************************
 CIRCLE
 *************************************************************************************/
.projects .circle {
    display: block;
    bottom: 24em;
    right: 23%;
    height: 10em;
    width: 10em;
}


/**************************************************************************************
 NG-ANIMATE
 *************************************************************************************/

[ui-view].ng-enter-active .projects-page, [ui-view].ng-leave-active .projects-page {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

[ui-view].ng-enter .projects-page {
    left: 100%;
}

[ui-view].ng-enter-active .projects-page {
    left: 0;
}

[ui-view].ng-leave .projects-page {
     left: 0;
}

[ui-view].ng-leave .projects-page .projects-bg {
    z-index: -4;
}

[ui-view].ng-leave-active .projects-page {
    left: 100%;
}

