<section class="projects-page animate-page" data-ng-controller="ProjectsController" data-ng-init="page.find()">
    <div class="projects-bg">
        <div class="projects-bg-top-img"></div>
        <div class="projects-bg-bottom-img"></div>
        <div class="projects-bg-sonne"></div>
    </div>

    <div class="wrapper">
        <div class="line">
            <div class="projects-type table-cell">Commerce</div>
            <div class="table-cell">
                <projects set="projects.commerce" type="commerce"></projects>
            </div>
        </div>
        <div class="line">
            <div class="projects-type table-cell">Live</div>
            <div class="table-cell">
                <projects set="projects.live" type="live"></projects>
            </div>
        </div>
    </div>
</section>
