<section class="projects-page animate-page" data-ng-controller="ProjectsController">
    <div class="projects-bg"></div>

    <div class="wrapper">
        <div class="line">
            <div class="projects-type table-cell">Commerce</div>
            <div class="table-cell">
                <projects set="projectsList.commerce" type="commerce"></projects>
            </div>
        </div>
        <div class="line">
            <div class="projects-type table-cell">Live</div>
            <div class="table-cell">
                <projects set="projectsList.live" type="live"></projects>
            </div>
        </div>
    </div>
</section>