<div class="admin-page admin-people">
    <div class="page-wrapper">
        <h1>Admin panel</h1>
        <div class="messages">{{person.error}}</div>
        <admin-menu></admin-menu>
        <div class="list">
            <div ng-if="!person.peopleArray.length" class="empty">The list is empty</div>

            <div class="list-group">
                <a ng-href="{{person.path}}/{{personItem._id}}"
                   ng-repeat="personItem in person.peopleArray | orderBy:'order'"
                   class="list-group-item"
                   ng-class="{ 'active': personItem._id === person.currentPersonId}">
                    <h4 class="list-group-item-heading">{{personItem.fName}}</h4>
                    <p class="list-group-item-text">{{personItem.position}}</p>
                </a>

            </div>
        </div>
        <div class="form">
            <h3 ng-if="!person.isCreateNewPerson">{{person.data.fName}}</h3>
            <h3 ng-if="person.isCreateNewPerson">New Person Information</h3>
            <div><a class="btn btn-success create-new-btn" ng-if="!person.isCreateNewPerson" ng-href="{{person.path}}/">+ Create New</a></div>
            <form name="articleForm" class="form-horizontal" data-ng-submit="person.submit()" novalidate>
                <fieldset>
                    <div class="input-group" >
                        <label class="input-group-addon" for="fName">First Name</label>
                        <input name="fName" data-ng-model="person.data.fName" id="fName" class="form-control" placeholder="First Name" required  type="text">
                    </div>
                    <div class="input-group" >
                        <label class="input-group-addon" for="lName">Last Name</label>
                        <input name="lName" data-ng-model="person.data.lName" id="lName" class="form-control" placeholder="Last Name"  type="text">
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon" for="position">Position</label>
                        <input name="position" data-ng-model="person.data.position" id="position" class="form-control" placeholder="Position" type="text">
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon" for="photo">Photo</label>
                        <input name="photo" data-ng-model="person.data.photo" id="photo" class="form-control" placeholder="Photo" type="text">
                    </div>

                    <div class="input-group">
                        <label class="input-group-addon" for="order">Order</label>
                        <input name="order" data-ng-model="person.data.order" id="order" class="form-control"  placeholder="Order">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary">Add photos</button>
                    </div>
                    <div class="buttons">
                        <input type="submit" class="btn btn-success" value="Save">
                        <input class="btn btn-danger pull-right" value="Remove" data-ng-click="person.remove()">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="person.error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
