<div class="admin-page admin-home"  data-ng-controller="AdminController">
    <div class="page-wrapper">
        <div class="header">
            <h1>Admin panel</h1>
            <div class="pull-right">
                <a ng-href="#!/settings/profile">{{authentication.user.username}}</a>
                <a class="btn signout" ng-href="/auth/signout">SignOut</a>
            </div>
        </div>
        <admin-menu></admin-menu>
        <div class="list">Home Admin Page</div>
    </div>

</div>
