<div class="admin-page admin-projects">
    <div class="page-wrapper">
        <h1>Admin panel</h1>
        <div class="username"><a ng-href="#!/settings/profile">{{authentication.user.username}}</a></div>

        <admin-menu></admin-menu>
        <div class="list">
            <div class="list-group">
                <div ng-if="!project.objArray.length" class="empty">The list is empty</div>

                <a ng-href="{{project.path}}/{{projectItem._id}}"
                   ng-repeat="projectItem in project.objArray | orderBy:['section','order']"
                   class="list-group-item admin-list-item"
                   ng-class="{ 'active': projectItem._id === project.currentProjectId}">
                    <div class="list-order">{{projectItem.order}}</div>
                    <div class="list-section">{{projectItem.section}}</div>
                    <div class="item-icon"><img ng-src="{{projectItem.icon}}" alt=""/></div>
                    <div class="item-details">
                        <h4 class="list-group-item-heading">{{projectItem.name}}</h4>
                        <p class="list-group-item-text">{{projectItem.description}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="form">
            <h3 ng-if="!project.isCreateNewProject">{{project.data.name}}</h3>
            <h3 ng-if="project.isCreateNewProject">New Project Information</h3>
            <div><a class="btn btn-success create-new-btn" ng-if="!project.isCreateNewProject" ng-href="{{project.path}}">+ Create New</a></div>

            <div class="message-wrapper" ng-if="project.error">
                <div class="message">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{project.error}}
                    </div>
                </div>
            </div>

            <form name="articleForm" class="form-horizontal" data-ng-submit="project.submit()" novalidate>
                <fieldset>
                    <div class="input-group" >
                        <label class="input-group-addon" for="name">Name</label>
                        <input name="name" data-ng-model="project.data.name" id="name" class="form-control" placeholder="Name" required  type="text">
                    </div>
                    <div class="textarea-group">
                        <textarea name="description" data-ng-model="project.data.description" id="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon" for="icon">Icon</label>
                        <input name="icon" data-ng-model="project.data.icon" id="icon" class="form-control" placeholder="Icon" type="text">
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon" for="times">Times</label>
                        <input name="times" data-ng-model="project.data.times" id="times" class="form-control" placeholder="Times" type="text">
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon">Commerce
                            <input type="radio"
                                   ng-model="project.data.section"
                                   value="commerce" checked>
                        </label>
                        <label class="input-group-addon">Live
                            <input type="radio"
                                   ng-model="project.data.section"
                                   value="live">
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-group-addon" for="order">Order</label>
                        <input name="order" data-ng-model="project.data.order" id="order" class="form-control"  placeholder="Order">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary">Add photos</button>
                    </div>
                    <div class="buttons">
                        <input type="submit" class="btn btn-success" value="Save">
                        <input class="btn btn-danger pull-right" value="Remove" data-ng-click="project.remove()">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="project.error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
